* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

/* variables */
:root {
  /* spacing */
  --base-spacing: 8px;
  /* colours */
  --purple: #707ef7;
  --purple-hover: #3800fb;
  --green: #baffb4;
  --grey: #b2b2b2;
  --light-grey: #f7f7f7;
  --black: #141414;
  /* Font size variables */
  --small: 14px;
  --medium: 20px;
  --large: 24px;
  /* Max-width */
  --max-width: 1440px;
  /* Transition */
  --transition: all 0.5s ease;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: var(--small);
  color: var(--black);
}

::selection {
  background-color: rgba(0, 255, 133, 0.3);
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

.material-icons,
.material-icons-outlined {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: var(--large);
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
